////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
// 1.0 - clearfix
////////////////////////////////////////////////////////////////////////////////

// 1.0 - clearfix
//******************************************************************************

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// END 1.0 - clearfix
//******************************************************************************